body {
	font: 14px/ 18px Arial, Helvetica, sans-serif;
	background-color:#DCDCDC;
	text-align: center;
  }
  #wrapper {
	background-color:#F5F5F5;
	width: 400px;
	margin: 0 auto;
	margin-top: 100px;
	text-align: center;
	padding: 30px 0px 50px 0px;
	border: 1px outset #FFFFFF;
	border-radius: 15px;
  }
  h1 {
    text-align: center;
	font: 20px/ 24px Arial, Helvetica, sans-serif;
  }
  
  #form {
	max-width: 222px;
	background-color:transparent;
	margin: 0 auto;
	text-align: left;
  }
  
  #username {
	  width: 200px;
	  margin: 3px 0px;
	  padding: 10px;
	  border: 1px outset #A9A9A9;
	  border-radius: 8px;
  }
  #password {
	  width: 200px;
	  margin: 3px 0px;
	  padding: 10px;
	  border: 1px outset #A9A9A9;
	  border-radius: 8px;
  }
  #summ {
	width: 200px;
	margin: 3px 0px;
	padding: 10px;
	border: 1px outset #A9A9A9;
	border-radius: 8px;
 }
  #knopka {
      text-align: center;
	  width: 222px;
	  margin: 3px 0px;
	  padding: 10px;
	  border: 1px outset #A9A9A9;
	  border-radius: 8px;
	  cursor: pointer;
	  background: linear-gradient(#F5F5F5, #DCDCDC) #DCDCDC;
  }
  #knopka:hover {
	background: linear-gradient(#FCFCFC, #EBEBEB) #EBEBEB;
  }
  
  a.knopka-menu {
	display: inline-block;
	text-decoration: none;
	color: #000000;
	width: 200px;
	margin: 3px 0px;
	padding: 10px;
	border: 1px outset #A9A9A9;
	border-radius: 8px;
	cursor: pointer;
	background: linear-gradient(#F5F5F5, #DCDCDC) #DCDCDC;
  }
  a.knopka-menu:hover {
	background: linear-gradient(#FCFCFC, #EBEBEB) #EBEBEB;
  }
  

  a {
	  width: 222px;
	  margin: 3px 0px;
	  padding: 10px;
	  border: 1px outset #A9A9A9;
	  border-radius: 8px;
	  cursor: pointer;
	  background: linear-gradient(#F5F5F5, #DCDCDC) #DCDCDC;
	  text-decoration: none;
	  color: #000;
  }

   a.visited {
      color: #808000;
	  width: 222px;
	  margin: 3px 0px;
	  padding: 10px;
	  border: 1px outset #A9A9A9;
	  border-radius: 8px;
	  cursor: pointer;
	  background: linear-gradient(#F5F5F5, #DCDCDC) #DCDCDC;
	  text-decoration: none;
	  color: #000;
  }

  a:hover {
	background: linear-gradient(#FCFCFC, #EBEBEB) #EBEBEB;
	text-decoration: none;
	color: #000;
  }


  /* Main style sheet for jQuery Keypad v1.1.0 */
button.keypad-trigger {
	width: 35px;
	padding: 0px;
}
img.keypad-trigger {
	margin: 2px;
	vertical-align: middle;
}
#keypad-div {
	display: none;
	z-index: 10;
	margin: 0;
	padding: 4px;
    margin-top: 5px;
	border: 1px solid #888;
    border-radius: 8px;
	color: #000;
	border: 1px outset #A9A9A9;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 14px;
	background-color: #f4f4f4;
}
.keypad-keyentry {
	width: 0px;
	z-index: -10;
}
.keypad-inline {
	position: relative;
	top: -1.5em;
	border: 1px solid #888;
	background-color: #f4f4f4;
}
.keypad-disabled {
	position: absolute;
	z-index: 100;
	background-color: white;
	opacity: 0.5;
	filter: alpha(opacity=50);
}
.keypad-rtl {
	direction: rtl;
}
.keypad-prompt {
	clear: both;
	width: 100%;
	text-align: center;
}
.keypad-row {
	clear: both;
	float: left;
	width: 100%;
}
.keypad-space {
	float: left;
	margin: 2px;
	width: 34px;
}
.keypad-half-space {
	float: left;
	margin: 1px;
	width: 12px;
}
.keypad-key {
	float: left;
	margin: 2px;
	padding: 5px 0px;
	width: 34px;
	background-color: #FFFFFF;
	text-align: center;
	cursor: pointer;
    border-radius: 8px;
	border: 1px outset #A9A9A9;
}
.keypad-key:hover {
	border: 0px outset #A9A9A9;
	border-top-width: 1px;
	border-left-width: 1px;
	border-top-color: #696969;
	border-left-color: #696969;
	border-bottom-width: 0.5px;
	border-right-width: 0.5px;
	border-bottom-color: #FAFAFA;
	border-right-color: #FAFAFA;
	background-color: #F5F5F5;
}

.keypad-key[disabled] {
	border: 1px outset #A9A9A9;
}
.keypad-key-down {
}
.keypad-clear, .keypad-back, .keypad-close, .keypad-shift {
	width: 34px;
	color: #000000;
	font-weight: normal;
}
.keypad-clear {
	background-color: #DEF7DE;
}
.keypad-back {
	background-color: #DEF7DE;
}
.keypad-close {
	background-color: #FFEBCD;
}
.keypad-shift {
	background-color: #FFFFFF;
}
.keypad-cover {
	display: none;
	display/**/: block;
	position: absolute;
	z-index: -1;
	filter: mask();
	top: -4px;
	left: -4px;
	width: 165px;
	height: 240px;
}
